<%# <div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href=<%= render 'processos/index' %><%#Processos</a>
    <%# </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Riscos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Controles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Planos de Ação</a>
    </li>
  </ul>
</div> %>
